@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding: 2rem;
  scroll-behavior: smooth;
}
:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
.footer-d {
    background: transparent;
    color: #374151;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-d .social-icon {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-d .social-icon__item {
    display: inline-block;
  }
  
  .footer-d .social-icon__link {
    color: #374151;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-d .social-icon__link:hover {
    color: #1da1f2; /* Twitter blue color */
  }
  
  .footer-d .menu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-d .menu__item {
    display: inline-block;
  }
  
  .footer-d .menu__link {
    color: #374151;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-d .menu__link:hover {
    color: #1da1f2; /* Twitter blue color */
  }
  
  .footer-d p {
    margin: 0;
    font-size: 14px;
  }



/* .image-container {
    background-color: transparent;
} */
.imgg {
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.imgss {
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.separator {
    border: none; 
    border-top: 2px solid #000;
    margin: 50px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  